body {
  font-family: Arial, sans-serif;
  text-align: center;
  background-color: #1f1a1a;
  margin: 0;
  padding: 20px;
  color: #fff;
}

h1 {
  margin-bottom: 10px;
}

.heading {
  color: #fcfc04;
}

/* button style */
button {
  margin: 0 5px;
  padding: 8px 16px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 8px;
  border: 1px solid #fcfc04;
  background-color: transparent;
  color: #fff;
}

#timer {
  color: #fcfc04;
  font-weight: 700;
}

#stats {
  padding-block: 1rem;
  text-align: center;
}

.game-board {
  display: grid;
  grid-template-columns: repeat(4, 100px);
  gap: 10px;
  justify-content: center;
  margin: 20px auto;
}

.card {
  width: 100px;
  height: 100px;

  /* background-color: #007bff; */
  background-image: url("../assets /pattern_jigsaw.png");
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  color: white;
  cursor: pointer;
  position: relative;
  transform-style: preserve-3d;
  transition: transform 0.3s ease;
}

.card.flipped {
  background: #fff;
  color: #000;
  transform: rotateY(180deg);
  cursor: default;
}

.card.matched {
  background-color: transparent;
  color: #000;
  cursor: default;
}